root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[{go.mod,go.sum,*.go}]
indent_style = tab
indent_size = 2

[*.{yaml, yml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[LICENSE]
indent_style = unset
indent_size = unset
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
